@charset "UTF-8";

.site-header {
    &__grid {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: map-get($mq-indents, 'md') 0;

        @include mq(lg) {
            padding: map-get($mq-indents, 'lg') 0;
        }

        @include mq(xs) {
            padding: map-get($mq-indents, 'xs') 0;
        }

        @include mq(xl) {
            padding: map-get($mq-indents, 'xl') 0;
        }
    }

    &__col {
        width: 30%;

        @include mq(md) {
            width: 40%;
        }
    }

    &__logo {
        display: block;
        width: 12rem;

        @include mq(md) {
            width: 19rem;
        }

        > img {
            width: 100%;
            height: auto;
            vertical-align: top;
        }
    }

    &__menu {
        display: flex;
        justify-content: flex-end;

        > a {
            @include interact(color,$color-light);
            @include interact(fill,$color-light, 'hover .icon');
            display: inline-flex;
            align-items: center;
            text-decoration: none;

            &:not(:last-child) {
                margin-right: 1rem;
            }

            @include mq(md) {
                &:not(:last-child) {
                    margin-right: 2rem;
                }
            }

            > span {
                display: none;
            }

            @include mq(lg) {
                > span {
                    display: block;
                }
            }

            > span {
                color: $color-base;
            }

            > .icon {
                margin-left: .8rem;
                fill: $color-base;
            }

            &.account {
                @include mq(sm) {
                    display: none;
                }
            }

            &[data-quantity] {
                position: relative;

                &::after {
                    @include font(.9rem, .9rem);

                    position: absolute;
                    top: -1rem;
                    right: -1.2rem;
                    padding: .4rem;
                    min-width: 1.7rem;
                    border-radius: 50%;
                    background: $color-error;
                    text-align: center;
                    color: #fff;
                    font-weight: 700;
                    content: attr(data-quantity);
                }
            }
        }
    }

    &__burger {
        @include size(2.6rem);

        position: relative;
        display: flex;

        @include mq(lg) {
            display: none;
        }

        > span {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            display: block;
            width: 100%;
            height: 1px;
            background: $color-base;

            &::before,
            &::after {
                position: absolute;
                left: 0;
                right: 0;
                height: 1px;
                background: $color-base;
                content: "";
            }

            &::before {
                top: 0;
                transform: translateY(-800%);
            }

            &::after {
                bottom: 0;
                transform: translateY(800%);
            }
        }
    }
}
