.catalog
    .container
        .catalog__grid

            .catalog__col
                article.product-item
                    a.product-item__image-box(href='#')
                        img(src='img/catalog/1.jpg' alt='title product')
                        img(src='img/catalog/2.jpg' alt='title product')
                        .button view details

                    .product-item__information
                        .product-item__information-brend
                            a(href='#') la-bella
                        h3.product-item__title
                            a(href='#') 30s bunch floral
                        .product-item__price-box
                            a.product-item__price 200.00$


                    a.product-item__add-to-favorites.js-add-to-favorites.is-active(href='#')
                        span
                        include _like


            .catalog__col
                article.product-item
                    a.product-item__image-box(href='#')
                        img(src='img/catalog/1.jpg' alt='title product')
                        img(src='img/catalog/2.jpg' alt='title product')
                        .button view details

                    .product-item__information
                        .product-item__information-brend
                            a(href='#') la-bella
                        h3.product-item__title
                            a(href='#') la-bella Leandra skirt in mixed 30s bunch floral
                        .product-item__price-box
                            a.product-item__price 200.00$
                            a.product-item__price.product-item__price--last old price: 280$

                    a.product-item__add-to-favorites.js-add-to-favorites(href='#')
                        span 
                        include _like


            .catalog__col
                article.product-item
                    a.product-item__image-box(href='#')
                        img(src='img/catalog/1.jpg' alt='title product')
                        img(src='img/catalog/2.jpg' alt='title product')
                        .button view details

                    .product-item__information
                        .product-item__information-brend
                            a(href='#') la-bella
                        h3.product-item__title
                            a(href='#') la-bella Leandra
                        .product-item__price-box
                            a.product-item__price 200.00$
                            a.product-item__price.product-item__price--last old price: 280$

                    a.product-item__add-to-favorites.js-add-to-favorites.is-active(href='#')
                        span 
                        include _like


            .catalog__col
                article.product-item
                    a.product-item__image-box(href='#')
                        img(src='img/catalog/1.jpg' alt='title product')
                        img(src='img/catalog/2.jpg' alt='title product')
                        .button view details

                    .product-item__information
                        .product-item__information-brend
                            a(href='#') la-bella
                        h3.product-item__title
                            a(href='#') la-bella Leandra skirt
                        .product-item__price-box
                            a.product-item__price 200.00$


                    a.product-item__add-to-favorites.js-add-to-favorites(href='#')
                        span 
                        include _like


            .catalog__col
                article.product-item
                    a.product-item__image-box(href='#')
                        img(src='img/catalog/1.jpg' alt='title product')
                        img(src='img/catalog/2.jpg' alt='title product')
                        .button view details

                    .product-item__information
                        .product-item__information-brend
                            a(href='#') la-bella
                        h3.product-item__title
                            a(href='#') la-bella Leandra skirt in mixed 30s bunch floral
                        .product-item__price-box
                            a.product-item__price 200.00$
                            a.product-item__price.product-item__price--last old price: 280$

                    a.product-item__add-to-favorites.js-add-to-favorites(href='#')
                        span 
                        include _like


            .catalog__col
                article.product-item
                    a.product-item__image-box(href='#')
                        img(src='img/catalog/1.jpg' alt='title product')
                        img(src='img/catalog/2.jpg' alt='title product')
                        .button view details

                    .product-item__information
                        .product-item__information-brend
                            a(href='#') la-bella
                        h3.product-item__title
                            a(href='#') la-bella Leandra skirt in mixed 30s bunch floral
                        .product-item__price-box
                            a.product-item__price 200.00$
                            a.product-item__price.product-item__price--last old price: 280$

                    a.product-item__add-to-favorites.js-add-to-favorites(href='#')
                        span 
                        include _like


            .catalog__col
                article.product-item
                    a.product-item__image-box(href='#')
                        img(src='img/catalog/1.jpg' alt='title product')
                        img(src='img/catalog/2.jpg' alt='title product')
                        .button view details

                    .product-item__information
                        .product-item__information-brend
                            a(href='#') la-bella
                        h3.product-item__title
                            a(href='#') la-bella Leandra skirt in mixed 30s bunch floral
                        .product-item__price-box
                            a.product-item__price 200.00$


                    a.product-item__add-to-favorites.js-add-to-favorites(href='#')
                        span 
                        include _like


            .catalog__col
                article.product-item
                    a.product-item__image-box(href='#')
                        img(src='img/catalog/1.jpg' alt='title product')
                        img(src='img/catalog/2.jpg' alt='title product')
                        .button view details

                    .product-item__information
                        .product-item__information-brend
                            a(href='#') la-bella
                        h3.product-item__title
                            a(href='#') la-bella Leandra skirt in mixed 30s bunch floral
                        .product-item__price-box
                            a.product-item__price 200.00$
                            a.product-item__price.product-item__price--last old price: 280$

                    a.product-item__add-to-favorites.js-add-to-favorites.is-active(href='#')
                        span 
                        include _like


            .catalog__col
                article.product-item
                    a.product-item__image-box(href='#')
                        img(src='img/catalog/1.jpg' alt='title product')
                        img(src='img/catalog/2.jpg' alt='title product')
                        .button view details

                    .product-item__information
                        .product-item__information-brend
                            a(href='#') la-bella
                        h3.product-item__title
                            a(href='#') la-bella Leandra skirt in mixed 30s bunch floral
                        .product-item__price-box
                            a.product-item__price 200.00$
                            a.product-item__price.product-item__price--last old price: 280$

                    a.product-item__add-to-favorites.js-add-to-favorites(href='#')
                        span 
                        include _like


            .catalog__col
                article.product-item
                    a.product-item__image-box(href='#')
                        img(src='img/catalog/1.jpg' alt='title product')
                        img(src='img/catalog/2.jpg' alt='title product')
                        .button view details

                    .product-item__information
                        .product-item__information-brend
                            a(href='#') la-bella
                        h3.product-item__title
                            a(href='#') la-bella Leandra skirt in mixed 30s bunch floral
                        .product-item__price-box
                            a.product-item__price 200.00$
                            a.product-item__price.product-item__price--last old price: 280$

                    a.product-item__add-to-favorites.js-add-to-favorites(href='#')
                        span 
                        include _like


            .catalog__col
                article.product-item
                    a.product-item__image-box(href='#')
                        img(src='img/catalog/1.jpg' alt='title product')
                        img(src='img/catalog/2.jpg' alt='title product')
                        .button view details

                    .product-item__information
                        .product-item__information-brend
                            a(href='#') la-bella
                        h3.product-item__title
                            a(href='#') la-bella Leandra skirt in mixed 30s bunch floral
                        .product-item__price-box
                            a.product-item__price 200.00$


                    a.product-item__add-to-favorites.js-add-to-favorites(href='#')
                        span 
                        include _like


            .catalog__col
                article.product-item
                    a.product-item__image-box(href='#')
                        img(src='img/catalog/1.jpg' alt='title product')
                        img(src='img/catalog/2.jpg' alt='title product')
                        .button view details

                    .product-item__information
                        .product-item__information-brend
                            a(href='#') la-bella
                        h3.product-item__title
                            a(href='#') la-bella Leandra skirt in mixed 30s bunch floral
                        .product-item__price-box
                            a.product-item__price 200.00$


                    a.product-item__add-to-favorites.js-add-to-favorites(href='#')
                        span 
                        include _like


            .catalog__col
                article.product-item
                    a.product-item__image-box(href='#')
                        img(src='img/catalog/1.jpg' alt='title product')
                        img(src='img/catalog/2.jpg' alt='title product')
                        .button view details

                    .product-item__information
                        .product-item__information-brend
                            a(href='#') la-bella
                        h3.product-item__title
                            a(href='#') la-bella Leandra skirt in mixed 30s bunch floral
                        .product-item__price-box
                            a.product-item__price 200.00$


                    a.product-item__add-to-favorites.js-add-to-favorites(href='#')
                        span 
                        include _like


            .catalog__col
                article.product-item
                    a.product-item__image-box(href='#')
                        img(src='img/catalog/1.jpg' alt='title product')
                        img(src='img/catalog/2.jpg' alt='title product')
                        .button view details

                    .product-item__information
                        .product-item__information-brend
                            a(href='#') la-bella
                        h3.product-item__title
                            a(href='#') la-bella Leandra skirt in mixed 30s bunch floral
                        .product-item__price-box
                            a.product-item__price 200.00$


                    a.product-item__add-to-favorites.js-add-to-favorites(href='#')
                        span 
                        include _like


            .catalog__col
                article.product-item
                    a.product-item__image-box(href='#')
                        img(src='img/catalog/1.jpg' alt='title product')
                        img(src='img/catalog/2.jpg' alt='title product')
                        .button view details

                    .product-item__information
                        .product-item__information-brend
                            a(href='#') la-bella
                        h3.product-item__title
                            a(href='#') la-bella Leandra skirt in mixed 30s bunch floral
                        .product-item__price-box
                            a.product-item__price 200.00$


                    a.product-item__add-to-favorites.js-add-to-favorites(href='#')
                        span 
                        include _like


            .catalog__col
                article.product-item
                    a.product-item__image-box(href='#')
                        img(src='img/catalog/1.jpg' alt='title product')
                        img(src='img/catalog/2.jpg' alt='title product')
                        .button view details

                    .product-item__information
                        .product-item__information-brend
                            a(href='#') la-bella
                        h3.product-item__title
                            a(href='#') la-bella Leandra skirt in mixed 30s bunch floral
                        .product-item__price-box
                            a.product-item__price 200.00$


                    a.product-item__add-to-favorites.js-add-to-favorites(href='#')
                        span 
                        include _like


            .catalog__col
                article.product-item
                    a.product-item__image-box(href='#')
                        img(src='img/catalog/1.jpg' alt='title product')
                        img(src='img/catalog/2.jpg' alt='title product')
                        .button view details

                    .product-item__information
                        .product-item__information-brend
                            a(href='#') la-bella
                        h3.product-item__title
                            a(href='#') la-bella Leandra skirt in mixed 30s bunch floral
                        .product-item__price-box
                            a.product-item__price 200.00$
                            a.product-item__price.product-item__price--last old price: 280$

                    a.product-item__add-to-favorites.js-add-to-favorites(href='#')
                        span 
                        include _like


            .catalog__col
                article.product-item
                    a.product-item__image-box(href='#')
                        img(src='img/catalog/1.jpg' alt='title product')
                        img(src='img/catalog/2.jpg' alt='title product')
                        .button view details

                    .product-item__information
                        .product-item__information-brend
                            a(href='#') la-bella
                        h3.product-item__title
                            a(href='#') la-bella Leandra skirt in mixed 30s bunch floral
                        .product-item__price-box
                            a.product-item__price 200.00$
                            a.product-item__price.product-item__price--last old price: 280$

                    a.product-item__add-to-favorites.js-add-to-favorites(href='#')
                        span 
                        include _like


            .catalog__col
                article.product-item
                    a.product-item__image-box(href='#')
                        img(src='img/catalog/1.jpg' alt='title product')
                        img(src='img/catalog/2.jpg' alt='title product')
                        .button view details

                    .product-item__information
                        .product-item__information-brend
                            a(href='#') la-bella
                        h3.product-item__title
                            a(href='#') la-bella Leandra skirt in mixed 30s bunch floral
                        .product-item__price-box
                            a.product-item__price 200.00$
                            a.product-item__price.product-item__price--last old price: 280$

                    a.product-item__add-to-favorites.js-add-to-favorites(href='#')
                        span 
                        include _like


            .catalog__col
                article.product-item
                    a.product-item__image-box(href='#')
                        img(src='img/catalog/1.jpg' alt='title product')
                        img(src='img/catalog/2.jpg' alt='title product')
                        .button view details

                    .product-item__information
                        .product-item__information-brend
                            a(href='#') la-bella
                        h3.product-item__title
                            a(href='#') la-bella Leandra skirt in mixed 30s bunch floral
                        .product-item__price-box
                            a.product-item__price 200.00$


                    a.product-item__add-to-favorites.js-add-to-favorites.is-active(href='#')
                        span 
                        include _like

