a.page-shadow.js-close-product-box.js-page-shadow(href='#')
.product-box.js-product-box
    .product-box__grid

        .product-box__col
            article.product-item
                a.product-item__image-box(href='#')
                    img(src='img/catalog/1.jpg' alt='title product')
                    img(src='img/catalog/2.jpg' alt='title product')
                    .button go to cart

                .product-item__information
                    .product-item__information-brend
                        a(href='#') la-bella
                    h3.product-item__title
                        a(href='#') la-bella Leandra skirt in mixed 30s bunch floral
                    .product-item__price-box
                        a.product-item__price 200.00$


                a.product-item__add-to-favorites.js-add-to-favorites.is-active(href='#')
                    span
                    include _like

        .product-box__col
            article.product-item
                a.product-item__image-box(href='#')
                    img(src='img/catalog/1.jpg' alt='title product')
                    img(src='img/catalog/2.jpg' alt='title product')
                    .button go to cart

                .product-item__information
                    .product-item__information-brend
                        a(href='#') la-bella
                    h3.product-item__title
                        a(href='#') la-bella Leandra skirt in mixed 30s bunch floral
                    .product-item__price-box
                        a.product-item__price 200.00$


                a.product-item__add-to-favorites.js-add-to-favorites.is-active(href='#')
                    span
                    include _like

        .product-box__col
            article.product-item
                a.product-item__image-box(href='#')
                    img(src='img/catalog/1.jpg' alt='title product')
                    img(src='img/catalog/2.jpg' alt='title product')
                    .button go to cart

                .product-item__information
                    .product-item__information-brend
                        a(href='#') la-bella
                    h3.product-item__title
                        a(href='#') la-bella Leandra skirt in mixed 30s bunch floral
                    .product-item__price-box
                        a.product-item__price 200.00$


                a.product-item__add-to-favorites.js-add-to-favorites.is-active(href='#')
                    span
                    include _like

        .product-box__col
            article.product-item
                a.product-item__image-box(href='#')
                    img(src='img/catalog/1.jpg' alt='title product')
                    img(src='img/catalog/2.jpg' alt='title product')
                    .button go to cart

                .product-item__information
                    .product-item__information-brend
                        a(href='#') la-bella
                    h3.product-item__title
                        a(href='#') la-bella Leandra skirt in mixed 30s bunch floral
                    .product-item__price-box
                        a.product-item__price 200.00$


                a.product-item__add-to-favorites.js-add-to-favorites.is-active(href='#')
                    span
                    include _like

        .product-box__col
            article.product-item
                a.product-item__image-box(href='#')
                    img(src='img/catalog/1.jpg' alt='title product')
                    img(src='img/catalog/2.jpg' alt='title product')
                    .button go to cart

                .product-item__information
                    .product-item__information-brend
                        a(href='#') la-bella
                    h3.product-item__title
                        a(href='#') la-bella Leandra skirt in mixed 30s bunch floral
                    .product-item__price-box
                        a.product-item__price 200.00$


                a.product-item__add-to-favorites.js-add-to-favorites.is-active(href='#')
                    span
                    include _like

        .product-box__col
            article.product-item
                a.product-item__image-box(href='#')
                    img(src='img/catalog/1.jpg' alt='title product')
                    img(src='img/catalog/2.jpg' alt='title product')
                    .button go to cart

                .product-item__information
                    .product-item__information-brend
                        a(href='#') la-bella
                    h3.product-item__title
                        a(href='#') la-bella Leandra skirt in mixed 30s bunch floral
                    .product-item__price-box
                        a.product-item__price 200.00$


                a.product-item__add-to-favorites.js-add-to-favorites.is-active(href='#')
                    span
                    include _like

        .product-box__col
            article.product-item
                a.product-item__image-box(href='#')
                    img(src='img/catalog/1.jpg' alt='title product')
                    img(src='img/catalog/2.jpg' alt='title product')
                    .button go to cart

                .product-item__information
                    .product-item__information-brend
                        a(href='#') la-bella
                    h3.product-item__title
                        a(href='#') la-bella Leandra skirt in mixed 30s bunch floral
                    .product-item__price-box
                        a.product-item__price 200.00$


                a.product-item__add-to-favorites.js-add-to-favorites.is-active(href='#')
                    span
                    include _like

        .product-box__col
            article.product-item
                a.product-item__image-box(href='#')
                    img(src='img/catalog/1.jpg' alt='title product')
                    img(src='img/catalog/2.jpg' alt='title product')
                    .button go to cart

                .product-item__information
                    .product-item__information-brend
                        a(href='#') la-bella
                    h3.product-item__title
                        a(href='#') la-bella Leandra skirt in mixed 30s bunch floral
                    .product-item__price-box
                        a.product-item__price 200.00$


                a.product-item__add-to-favorites.js-add-to-favorites.is-active(href='#')
                    span
                    include _like

        .product-box__col
            article.product-item
                a.product-item__image-box(href='#')
                    img(src='img/catalog/1.jpg' alt='title product')
                    img(src='img/catalog/2.jpg' alt='title product')
                    .button go to cart

                .product-item__information
                    .product-item__information-brend
                        a(href='#') la-bella
                    h3.product-item__title
                        a(href='#') la-bella Leandra skirt in mixed 30s bunch floral
                    .product-item__price-box
                        a.product-item__price 200.00$


                a.product-item__add-to-favorites.js-add-to-favorites.is-active(href='#')
                    span
                    include _like

        .product-box__col
            article.product-item
                a.product-item__image-box(href='#')
                    img(src='img/catalog/1.jpg' alt='title product')
                    img(src='img/catalog/2.jpg' alt='title product')
                    .button go to cart

                .product-item__information
                    .product-item__information-brend
                        a(href='#') la-bella
                    h3.product-item__title
                        a(href='#') la-bella Leandra skirt in mixed 30s bunch floral
                    .product-item__price-box
                        a.product-item__price 200.00$


                a.product-item__add-to-favorites.js-add-to-favorites.is-active(href='#')
                    span
                    include _like


    a.product-box__close.js-close-product-box(href='#')
