.site-navigate
    .container
        ul.site-navigate__grid

            li
                a(href='#') WHAT'S NEW CLOTHING

            li
                a(href='#') ACCESSORIES

            li
                a(href='#') SHOES

            li
                a(href='#') DESIGNERS

            li
                a(href='#') Sales

            li
                a(href='#')
